<nav class="navbar navbar-dark bg-dark">
  <%= link_to 'My Sweet Restaurants', restaurants_path, class: "navbar-brand align-center" %>
    <form class="form-inline">
        <%= button_to 'Add Restaurant', new_restaurant_path, class: "btn btn-outline-success" %>
    </form>
</nav>

